html body {
    padding-top: 190px;
    padding-bottom: 100px;
}
.navBar {
    background-color: #FF8888;
}
.name-header {
    background-color: rgb(216, 216, 216);
    min-height: 72px;
}

#title {
    margin-right: 1em;
}


#clearBtn2 {
    display: none;
}


/* Medium */
@media only screen and (max-width: 500px) {
    /* Hide navBar clearBtn if screen is too small */
    #clearBtn {
        display: none;
    }
    #clearBtn2 {
        display: block;
    }
}


@media only screen and (max-width: 500px) {
    /* Hide navBar clearBtn if screen is too small */
    #clearBtn {
        display: none;
    }
}



.modalImage {
    min-height: 300px;
}

.hideText {
    font-size: 0;
}

/*  */
/* Loading */
/*  */

.load-outer {
    position: absolute;
    left: 35%;
    top: 19%;
    width: 150px;
    height: 150px;
}

.load-inner {
    position: absolute;
    left: 45%;
    top: 26.5%;
    width: 50px;
    height: 50px;
}

/* Hide inner loading animation when screen gets too small for it to be properly positioned */
@media only screen and (max-width: 500px) {
    .load-inner {
        display: none;
    }
}

/*  */
/* Damage Profile */
/*  */

.weak-to {
    background-color: #B4FFB2;
    min-height: 59px;
}
.resists {
    background-color: #FFD4D4;
    min-height: 59px;
}
.immune-to {
    background-color: #FFB2B2;
    min-height: 59px;
}

/*  */
/* Types */
/*  */

.type {
    color: white;
}
.type-button {
    margin-right: 1em;
    margin-bottom: 1em;
    border: none;
    /* padding: 0.5em; */
}
.type-select {
    max-width: 200px;
}

/* .type-button :hover {
    background-color: #78C850;
} */
.normal {
    background-color: #A8A878;
}
.fire {
    background-color: #F08030;
}
.water {
    background-color: #5BC7E5;
}
.grass {
    background-color: #78C850;
}
.electric {
    background-color: #F8D030;
}
.ice {
    background-color: #98D8D8;
}
.fighting {
    background-color: #C03028;
}
.poison {
    background-color: #A040A0;
}
.ground {
    background-color: #E0C068;
}
.flying {
    background-color: #A890F0;
}
.psychic {
    background-color: #A65E9A;
}
.bug {
    background-color: #A8B820;
}
.rock {
    background-color: #B8A038;
}
.ghost {
    background-color: #705898;
}
.dark {
    background-color: #705848;
}
.dragon {
    background-color: #7038F8;
}
.steel {
    background-color: #B8B8D0;
}
.fairy {
    background-color: #EE99AC;
}

.tb-on {
    border: solid 3px black;
}